@charset "UTF-8";

/* bombard */
@font-face {
  font-family: 'bombard';
  src: url('../fonts/bombard.woff');
}

@font-face {
  font-family: 'stm';
  src: url('../fonts/shareTechMono-Regular.woff');
       font-weight: 400;
       font-style: normal;
}