@charset "UTF-8";

/*
  계산공식
  w: (구하고자 하는 가로 / 1080) * 100;
  h: (구하고자 하는 세로 / 1080) * 100;
*/

$win_h: 1080;
$point_color: #ffc600;
$disabled_color: #9d9d9d;

/* IMAGE PATH */
$img: '../images';

@mixin calc_w($width) {
  width: ($width/$win_h)*100;
}

@mixin calc_fz($size) {
  font-size: ($size/$win_h)*100;
}

@mixin calc_h($height) {
  height: ($height/$win_h)*100;
}

@mixin calc_lh($height) {
  line-height: ($height/$win_h)*100;
}

@mixin calc_mg($t,$r,$b,$l) {
  $calc_t: ($t/$win_h)*100;
  $calc_r: ($r/$win_h)*100;
  $calc_b: ($b/$win_h)*100;
  $calc_l: ($l/$win_h)*100;
  margin: $calc_t $calc_r $calc_b $calc_l;
}

@mixin calc_mgauto($t,$b) {
  $calc_t: ($t/$win_h)*100;
  $calc_b: ($b/$win_h)*100;
  margin: $calc_t auto $calc_b auto;
}

@mixin calc_pd($t,$r,$b,$l) {
  $calc_t: ($t/$win_h)*100;
  $calc_r: ($r/$win_h)*100;
  $calc_b: ($b/$win_h)*100;
  $calc_l: ($l/$win_h)*100;
  padding: $calc_t $calc_r $calc_b $calc_l;
}

@mixin calc_radius($t,$r,$b,$l) {
  $calc_t: ($t/$win_h)*100;
  $calc_r: ($r/$win_h)*100;
  $calc_b: ($b/$win_h)*100;
  $calc_l: ($l/$win_h)*100;
  border-radius: $calc_t $calc_r $calc_b $calc_l;
}

@mixin calc_translate($x, $y) {
  $calc_x: ($x/$win_h)*100;
  $calc_y: ($y/$win_h)*100;
  transform: translate($calc_x, $calc_y);
}

@mixin calc_translate3d($x, $y, $z) {
  $calc_x: ($x/$win_h)*100;
  $calc_y: ($y/$win_h)*100;
  $calc_z: ($z/$win_h)*100;
  transform: translate3d($calc_x, $calc_y, $calc_z);
}

/* POSITION */
@mixin calc_left($left) {
  $calc_left: ($left/$win_h)*100;
  left: $calc_left;
}

@mixin calc_right($right) {
  $calc_right: ($right/$win_h)*100;
  right: $calc_right;
}

@mixin calc_top($top) {
  $calc_top: ($top/$win_h)*100;
  top: $calc_top;
}

@mixin calc_bottom($bottom) {
  $calc_bottom: ($bottom/$win_h)*100;
  bottom: $calc_bottom;
}

@mixin calc_border($width, $style, $color) {
  $calc_w: ($width/$win_h)*100;
  border: $calc_w $style $color;
}

@mixin calc_bgsize($width, $height) {
  $calc_w: ($width/$win_h)*100;
  $calc_h: ($height/$win_h)*100;
  background-size: $calc_w $calc_h;
}

@mixin calc_bgposition($left, $top) {
  $calc_left: ($left/$win_h)*100;
  $calc_top: ($top/$win_h)*100;
  background-position: $calc_left $calc_top;
}

@mixin calc_letterspace($space) {
  $calc_space: ($space/$win_h)*100;
  letter-spacing: $calc_space;
}