/*@font-face { font-family: texR; src: url('../fonts/texgyreadventor-regular.woff'); }
@font-face { font-family: texB; src: url('../fonts/texgyreadventor-bold.woff'); }*/

//overpass
@font-face {
  font-family: 'overpass';
  src: url('../fonts/overpass-thin.woff');
       font-weight: 300;
       font-style: normal;
}

@font-face {
  font-family: 'overpass';
  src: url('../fonts/overpass-light.woff');
       font-weight: 400;
       font-style: normal;
}

@font-face {
  font-family: 'overpass';
  src: url('../fonts/overpass-regular.woff');
       font-weight: 500;
       font-style: normal;
}

@font-face {
  font-family: 'overpass';
  src: url('../fonts/overpass-semibold.woff');
       font-weight: 600;
       font-style: normal;
}

@font-face {
  font-family: 'overpass';
  src: url('../fonts/overpass-bold.woff');
       font-weight: 700;
       font-style: normal;
}

@font-face {
  font-family: 'overpass';
  src: url('../fonts/overpass-extrabold.woff');
       font-weight: 800;
       font-style: normal;
}

//ROBOT
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light.woff');
       font-weight: 400;
       font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff');
       font-weight: 500;
       font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.woff');
       font-weight: 600;
       font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.woff');
       font-weight: 700;
       font-style: normal;
}

/* Eordeoghlakat */
@font-face {
  font-family: 'kat';
  src: url('../fonts/Eordeoghlakat.woff');
       font-weight: 400;
       font-style: normal;
}

/* bombard */
@font-face {
  font-family: 'bombard';
  src: url('../fonts/bombard.woff');
}

@font-face {
  font-family: 'moonshiner';
  src: url('../fonts/Moonshiner-Regular.woff');
       font-weight: 400;
       font-style: normal;
}

/* NANUM SQUARE */
@font-face {
  font-family: 'NanumSquare';
  src: url('../fonts/NanumSquareR.woff');
       font-weight: 500;
       font-style: normal;
}

@font-face {
  font-family: 'NanumSquare';
  src: url('../fonts/NanumSquareB.woff');
       font-weight: 700;
       font-style: normal;
}


